<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ "/js/materialize.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.scrollToTop.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/gallery.min.opt.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.lazyload.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>