  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }
  
  main {
      flex: 1 0 auto;
  }
  
  input[type=search] {
      border-bottom: 0px!important;
  }
  
  .fixed-action-btn {
      z-index: 1;
  }
  
  .page-footer {
      z-index: 2;
  }
  
  ::-webkit-scrollbar {
      display: none
  }

    .post-data{
      margin-bottom: 0px;
    }
  
  .linkTitle {
      margin: 0px 0px;
      font-size: 2em;
  }
  
  .linkCard {
      max-height: 100px;
      height: 100px;
      padding: 10px 10px;
      min-width: 272px;
  }
  
  .linkContent {
      height: 100%;
  }

    .lazy{
        display: none
    };
    div.center.gradient{
        height: 100%;
        line-height: 22
    }

    #load-disqus{
        /*margin-bottom: 50px;*/
    }

    .nav-search-wrapper{
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;
    border: 0;
    /*position: absolute;*/
    }
    i.search{
      position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    }
    .nav-search-results{
      max-width: 180px;
      position: absolute;
      width: 180px;
      z-index: 99;
    }
    .post-list{
      width: 100%
    }
    input#nav-search{
      border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    }
    input#nav-search:focus:not([readonly]){
      border-bottom: 1px solid rgba(255, 255, 255, 1);
    }

    .linkIcon{
    width: 30px;
    opacity: .60;
    margin-right: 20px;
    }
    .p-linkIcon{
        line-height: 0px;
        margin-top: 0px;
    }
    .p-date{
        margin-top: 0px;
        line-height: 42px;
        margin-bottom: 0px;
    }
    .copyright-row{
        margin-bottom: 0px;
    }